h2{
	position: absolute;
	

}
/*With absolute positioning, 
an element can be placed anywhere on a page.
i dosnt care about anay element there
so maybe its come in top on other element
so withe absolute i can but the element any where
so the othe element it dosent see this element they trade
it like hidden element
the other element they will tace the orginal space*/
/*------------------------------------*/
/*position: static|absolute|fixed|
relative|sticky|initial|inherit;*/
/*------------------------------------*/
/*this all the position we can use*/
h3{
	position: relative;
	top: 100px;

}
/*relative this position almost the same like the abosolute
but the orginal place its gonna stay reserve for the element
the other element there not gonna take the
orginal space */
h4{
	position: fixed;
}
/*fixed positon its almost the same like absolute
but this position its gonna stay in the screen
if i scroll down this position its good withe the nav bar
or any thing i wanna keep it in the screen*/